<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Ksiazek</title>
</head>
<body>
<th:block th:replace="header:: header"/>

<h1>Lista Autorow</h1>
<a href="/autor/add">Dodaj Autora</a>
<table>
    <tr>
        <th>Lp: </th>
        <th>Imie: </th>
        <th>Nazwisko: </th>
        <th>Rok urodzenia: </th>
        <th>Miejsce Urodzenia: </th>
        <th>Napisane Ksiazki: </th>
    </tr>

    <tr th:each="autor : ${autorList}">
        <td th:text="${autor.getId() + 1}"></td>
        <td th:text="${autor.getImie()}"></td>
        <td th:text="${autor.getNazwisko()}"></td>
        <td th:text="${autor.getRokUrodzenia()}"></td>
        <td th:text="${autor.getMiejsceUrodzenia()}"></td>

        <td >
            <p th:each="ksiazki : ${autor.getNapisaneKsiazki()}" th:text="${ksiazki.getTytul()}"></p>
        </td>

<!--        <td th:text="${autor.getNapisaneKsiazki()}"></td>-->
        <td><a th:href="@{'/autor/remove?id=' + ${autor.getId()}}">Remove</a> </td>
        <td><a th:href="@{'/ksiazka/add?id=' + ${autor.getId()}}">Dodaj Ksiazke</a> </td>

    </tr>
</table>
</body>
</html>