<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie Ksiazki</title>
</head>
<body>
<h1>Dodawanie Ksiazki</h1>
<form action="/ksiazka/add" method="post">
    <input type="hidden" name="id" th:value="${id}">
    <input type="text" name="tytul" placeholder="Tytul">
    <input type="number" min="1900" max="2100" name="rokWydania" placeholder="Rok Wydania">
    <input type="number" min="1" name="iloscStron" placeholder="Ilosc Stron">
<!--    <input type="text" min="1" name="autor" placeholder="Autor">-->
<!--    <input type="text" name="typKsiazki" placeholder="Typ Ksiazki">-->


    <select name="typKsiazki">

        <option th:each="opt : ${typKsiazki}" th:text="${opt}" th:value="${opt}"></option>

    </select>


    <br>
    <br>
    <input type="submit" value="Dodaj ksiazke">

</form>
</body>
</html>