<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Ksiazek</title>
</head>
<body>
<th:block th:replace="header:: header"/>

<h1>Lista Ksiazek</h1>
<table>
    <tr>
        <th>Id: </th>
        <th>Tytul: </th>
        <th>Rok Wydania: </th>
        <th>Ilosc stron: </th>
        <th>Autor: </th>
        <th>Typ Ksiazki: </th>
    </tr>

    <tr th:each="ksiazka : ${ksiazkaList}">
        <td th:text="${ksiazka.getId() + 1}"></td>
        <td th:text="${ksiazka.getTytul()}"></td>
        <td th:text="${ksiazka.getRokWydania()}"></td>
        <td th:text="${ksiazka.getIloscStron()}"></td>
        <td th:text="${ksiazka.getAutor().getImie()}"></td>
        <td th:text="${ksiazka.getTypKsiazki()}"></td>
        <td><a th:href="@{'/ksiazka/remove?id=' + ${ksiazka.getId()}}"><img width="25px" th:src="@{/39.png}"></a> </td>

    </tr>
</table>
</body>
</html>